chardet==3.0.4
tldextract==2.2.2
pandas==1.0.5
requests==2.24.0
joblib==0.15.1
sklearn_extensions==0.0.2
tensorflow==2.3.1
textstat==0.6.2
ipwhois==1.1.0
tqdm==4.47.0
python_whois==0.7.3
lxml==4.5.1
nltk==3.5
langdetect==1.0.8
beautifulsoup4==4.9.1
dnspython==1.16.0
DocumentFeatureSelection==1.5
imbalanced-learn==0.7.0
scikit_learn==0.23.1
xgboost==1.1.1
# Versions required by tensorflow
numpy==1.18.5
scipy==1.4.1
# Needed for bs4
html5lib==1.1